<p id="notice"><%= notice %></p>

<p>
  <strong>Propuest:</strong>
  <%= @d_item.propuest %>
</p>

<p>
  <strong>Item:</strong>
  <%= @d_item.item %>
</p>

<%= link_to 'Edit', edit_d_item_path(@d_item) %> |
<%= link_to 'Back', d_items_path %>
