<p id="notice"><%= notice %></p>

<h1>Propuests</h1>

<table class = "table"> 
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>Cliente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @propuests.each do |propuest| %>
      <tr>
        <td><%= propuest.descripcion %></td>
        <td><%= propuest.cliente.nombre %></td>
        <td><%= link_to 'Show', propuest %></td>
        <td><%= link_to 'Edit', edit_propuest_path(propuest) %></td>
        <td><%= link_to 'Destroy', propuest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Propuest', new_propuest_path %>
